.ToDo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: blueviolet;
  color: white;
  padding: 0.2rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}
.ToDo p, .ToDo div{
  background: blueviolet;

}
.fa-trash, .fa-pen-to-square{
  margin-left: 0.75rem;
  background: blueviolet;
}
.completed{
  color: antiquewhite;
  text-decoration: line-through;
}
.todo-btn{
  background: blueviolet;
  color: white;
  border: none;
  padding: 0.7rem;
  cursor: pointer;
}
.TodoWrapper{
 text-align: center;
  color: azure;
}
.todo-input::placeholder{
  color: #ffffff4d;
}
.todo-input{
  margin-bottom: 2rem;
  width: 300px;
  color: white;
  padding: 0.55rem;
  border: 1px solid blueviolet;
}
.App{
  display: flex;
  padding:150px 450px 0 500px;
}
*{
  background-color: rgb(33, 1, 63);
}